  .forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?auto=format&fit=crop&q=80');
    background-size: cover;
    background-position: center;
  }

  .forgot-password-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .forgot-password-container {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  .forgot-password-container h2 {
    text-align: center;
    color: #C76C3F;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .forgot-password-container input {
    width: 100%;
    padding: 10px 38px 10px 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    font-size: 14px;
  }

  .forgot-password-container input:focus {
    border-color: #C76C3F;
    outline: none;
  }

  .forgot-password-container button {
    width: 100%;
    padding: 12px;
    background-color: #C76C3F;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  .forgot-password-container button:hover {
    background-color: #d47241;
  }

  .error {
    color: red;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .success {
    color: green;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .resend-otp-link {
    text-align: end;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .resend-otp-link button {
    background: none;
    border: none;
    color: #C76C3F;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
  }
.password-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #C76C3F;
}
